<section class="property-binding">
  <article>
    <h3>Interpolation</h3>
    <p>string rendered with interpolation: {{ url }}</p>
    <p>Result of 1 + 1 is: {{ 1 + 1 }} </p>
    <p>Result of 1 + 1 is: {{ 1 + 1 + getValor() }} </p>
    <p>Course of Angular and like the course: {{ courseAngular && getLikeCourse() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}">
    <img [src]="urlImage">
    <img bind-src="urlImage">
  </article>

  <article>
    <h3>Class and Style Binding</h3>
    <select #class (change)="0">
      <option value="alert-success">Success</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-danger">Danger</option>
    </select>
    <br><br>

    <div class="alert {{ class.value }}">
      Colored text according to the value of select box 
    </div>

    <div class="alert" role="alert" [class.alert-success]="class.value == 'alert-success'">
      A simple success alert—check it out!
    </div>
    <div class="alert" role="alert" [class.alert-info]="class.value == 'alert-info'">
      A simple info alert—check it out!
    </div>
    <div class="alert" role="alert" [class.alert-warning]="class.value == 'alert-warning'">
      A simple warning alert—check it out!
    </div>
    <div class="alert" role="alert" [class.alert-danger]="class.value == 'alert-danger'">
      A simple danger alert—check it out!
    </div>

    <div class="alert alert-danger" role="alert" [style.display]="class.value == 'alert-danger' ? 'block' : 'none'">
      A simple danger alert—check it out!
    </div>


  </article>

  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="buttonClicked()"
       class="btn btn-primary">Click me</button>
       
       <br><br>

       <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="saveValue($event.target.value)"
        (blur)="saveValue(inputField.value)"
        #inputField >

        <p>Current Value: {{ currentValue }}</p>
        <p>Current Salvo: {{ valueSaved }}</p>

        <br>
        <span
          (mousehover)="onMouseOverOut()"
          (mouseover)="onMouseOverOut()"
          [class.highlight]="isMouseOver">
          Pass the mouse over me
        </span>
    </div>
  </article>
</section>